.
..
alacritty
chromium
configstore
dconf
dunstrc
gtk-3.0
gvim
hangups
htop
jesseduffield
menus
mimeapps.list
obs-studio
pavucontrol.ini
powerlevl9k
pulse
QtProject.conf
qutebrowser
rofi
Slack
Unknown Organization
vimb
vis
zathura
zoomus.conf
.config/nvim
